.icons {
  width: 100px;
  height: 100px;
  display: flex;
  background-color: white;
  border-radius: 50%;
  padding: 25px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 0 0 #1a19198a, inset 0 9px 0 0 #201f1f54;
}

.icons.myrock, .icons.pcrock {
  border: 20px solid hsl(349, 70%, 56%);
  background-image: url("./Images/icon-rock.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icons.mypaper, .icons.pcpaper {
  border: 20px solid hsl(230, 89%, 65%);
  background-image: url("./Images/icon-paper.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icons.myscissors, .icons.pcscissors {
  border: 20px solid hsl(40, 84%, 53%);
  background-image: url("./Images/icon-scissors.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.comp-res {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.mychois {
  text-align: center;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.computerchois {
  text-align: center;
}

.cont > p {
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  align-self: flex-end;
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.playagain {
  align-self: flex-start;
  text-decoration: none;
  color: black;
  background-color: white;
  width: fit-content;
  padding: 15px 40px;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-top: 20px;
  width: fit-content;
}
@media screen and (max-width: 767px) {
  .comp-res {
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: flex-start;
  }
  .icons {
    width: 50px !important;
    height: 50px !important;
  }
  .icons.pcrock {
    margin: 0 auto !important;
  }
  .icons.pcpaper {
    margin: 0 auto !important;
  }
  .icons.pcscissors {
    margin: 0 auto !important;
  }
  .result {
    position: absolute;
    bottom: 25px;
  }
}